@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 text-pearl-white bg-ki-black font-sans antialiased;
  }

  * {
    @apply box-border appearance-none no-underline;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  #root,
  .app-shell {
    @apply h-screen min-h-screen flex flex-col;
  }
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply rounded-sm bg-ki-black-500;
}

::-webkit-scrollbar-thumb {
  @apply bg-ki-blue-500 rounded-full h-[2px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-ki-pastel;
}

::-webkit-scrollbar-button {
  @apply block h-1 w-1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
  cursor: pointer;
}
